<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managementapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManagementApp"
       >
        <activity android:name=".VacancyActivities"></activity>
        <activity
            android:name=".Fragments"
            android:label="@string/title_activity_fragments" />
        <activity
            android:name=".TrialBottomNavigation"
            android:label="@string/title_activity_trial_bottom_navigation" />
        <activity android:name=".ViewVacancies" />
        <activity android:name=".JobActivity" />
        <activity android:name=".MainActivityPicture" />
        <activity android:name=".manageEmployeess" />
        <activity android:name=".EditUpdateActivity" />
        <activity android:name=".EditVacancyActivity" />
        <activity android:name=".EditJobActivity" />
        <activity android:name=".EditEmployeeActivity" />
        <activity android:name=".listOfEmployees" />
        <activity android:name=".updatesActivity" />
        <activity android:name=".employeeplatform" />
        <activity android:name=".adminduties" />
        <activity android:name=".registernewemployee" />
        <activity android:name=".employeeloginform" />
        <activity android:name=".ViewUpdateS" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewListOfJobActivity" />
    </application>

</manifest>